<!doctype html>
<html>
<head>
	<% include partials/head %>
</head>
<body>
<div class="container">
	<header>
		<% include partials/header %>

		<%
			var displayPassword = false;
			if (me === editUser){
				displayPassword = true;
			}
		%>
	</header>
	<form class="form-horizontal" action="/users/<%= editUser._id %>" method="post" enctype="multipart/form-data">
	<input name="method" type="hidden" value="put">
	
	

	<div class="form-group">
		<label class="col-sm-2 control-label">Picture</label>
		<div class="col-sm-6">
			<img src="<%= editUser.picture %>" class="img-responsive" style="max-height:200px;">
		</div>
	</div>
	
	<div class="form-group">
		<label class="col-sm-2 control-label">id</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" disabled value="<%= editUser._id %>">
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-2 control-label">Email</label>
		<div class="col-sm-6">
			<input name="email" type="text" disabled class="form-control" value="<%= editUser.local.email %>">
		</div>
	</div>
	<%if(displayPassword === true){%>
	<div class="form-group">
		<label class="col-sm-2 control-label">Change Password</label>
		<div class="col-sm-6">
			<input name="password" type="password" class="form-control">
		</div>
	</div>
	<%}%>

	<div class="form-group">
		<label class="col-sm-2 control-label">Display Name</label>
		<div class="col-sm-6">
			<input name="displayName" type="text" class="form-control" value="<%= editUser.displayName %>">
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-2 control-label">Description</label>
		<div class="col-sm-6">
			<input name="description" type="text" class="form-control" value="<%= editUser.description %>">
		</div>
	</div>
	
	<div class="form-group">
		<label class="col-sm-2 control-label">Phone number</label>
		<div class="col-sm-6">
			<input name="phone" type="text" class="form-control" value="<%= editUser.phone %>">
		</div>
	</div>
	
	<div class="form-group">
		<label class="col-sm-2 control-label">Walker Status</label>
		<div class="col-sm-6">
			<input name="walker" type="checkbox" <%=editUser.isCatWalker? "Checked" : ""%>> I want to be listed as a cat walker
			</input>
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-2 control-label">New Picture</label>
		<div class="col-sm-6">
			<input name="picture" type="file" class="form-control">
		</div>
	</div>
	
	
	
	<div class="form-group">
	<div class="col-sm-offset-2 col-sm-6">
		<button type="submit" class="btn btn-default btn-lg btn-block">Update User</button>
	</div>
	</div>

	</form>
	
</div>

<script type="text/javascript">
/*
    Function to carry out the actual PUT request to S3 using the signed request from the app.
*/
function upload_file(file, signed_request, url){
    var xhr = new XMLHttpRequest();
    xhr.open("PUT", signed_request);
    xhr.setRequestHeader('x-amz-acl', 'public-read');
    xhr.onload = function() {
        if (xhr.status === 200) {
            document.getElementById("preview").src = url;            
            document.getElementById("avatar_url").value = url;
        }
    };
    xhr.onerror = function() {
        alert("Could not upload file."); 
    };
    xhr.send(file);
}
/*
    Function to get the temporary signed request from the app.
    If request successful, continue to upload the file using this signed
    request.
*/
function get_signed_request(file){
    var xhr = new XMLHttpRequest();
    xhr.open("GET", "/sign_s3?file_name="+file.name+"&file_type="+file.type);
    xhr.onreadystatechange = function(){
        if(xhr.readyState === 4){
            if(xhr.status === 200){
                var response = JSON.parse(xhr.responseText);
                upload_file(file, response.signed_request, response.url);
            }
            else{
                alert("Could not get signed URL.");
            }
        }
    };
    xhr.send();
}
/*
   Function called when file input updated. If there is a file selected, then
   start upload procedure by asking for a signed request from the app.
*/
function init_upload(){
    console.log("here");
    var files = document.getElementById("picture").files;
    var file = files[0];
    if(file == null){
        alert("No file selected.");
        return;
    }
    get_signed_request(file);
}
/*
   Bind listeners when the page loads.
*/
(function() {
    document.getElementById("picture").onchange = init_upload;
})();
</script>
</body>
</html>
