<!doctype html>
<html>
<head>
	<% include partials/head %>
</head>
<body>
<div class="container">
	<header>
		<% include partials/header %>

		
	</header>
	<form class="form-horizontal" action="/update/<%= cat._id %>" method="post" enctype="multipart/form-data">
	<input name="method" type="hidden" value="put">
	
	

	<div class="form-group">
		<label class="col-sm-2 control-label">Picture</label>
		<div class="col-sm-6">
			<img src="<%= cat.picture %>" class="img-responsive" style="max-height:200px;">
		</div>
	</div>
	
	<div class="form-group">
		<label class="col-sm-2 control-label">id</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" disabled value="<%= cat._id %>">
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-2 control-label">Name</label>
		<div class="col-sm-6">
			<input name="displayName" type="text" class="form-control" value="<%= cat.name %>">
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-2 control-label">Age</label>
		<div class="col-sm-6">
			<input name="description" type="text" class="form-control" value="<%= cat.age %>">
		</div>
	</div>
	
	<div class="form-group">
		<label class="col-sm-2 control-label">Weight</label>
		<div class="col-sm-6">
			<input name="description" type="text" class="form-control" value="<%= cat.weight %>">
		</div>
	</div>
	
	<div class="form-group">
		<label class="col-sm-2 control-label">Color</label>
		<div class="col-sm-6">
			<input name="description" type="text" class="form-control" value="<%= cat.color %>">
		</div>
	</div>
	
	<div class="form-group">
		<label class="col-sm-2 control-label">Breed</label>
		<div class="col-sm-6">
			<input name="description" type="text" class="form-control" value="<%= cat.breed %>">
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-2 control-label">New Picture</label>
		<div class="col-sm-6">
			<input name="picture" type="file" class="form-control">
		</div>
	</div>
	
	
	
	<div class="form-group">
	<div class="col-sm-offset-2 col-sm-6">
		<button type="submit" class="btn btn-default btn-lg btn-block">Update Cat</button>
	</div>
	</div>

	</form>
	
</div>
</body>
</html>