<!doctype html>
<html>
<head>
	<% include partials/head %>
</head>
<body>
<div class="container">
	<header>
		<% include partials/header %>
	</header>
	<%
		var adminControls = false;
		var adminMessage = '';
		var superAdminControls = false;
		if(user.accountType === "superAdmin"){
			superAdminControls = true;
			adminControls = true;
			adminMessage = 'Super Admin';

		}
		if(user.accountType === "admin") {
			adminControls = true;
			adminMessage = 'Admin';
		}
	%>
	<%
		if(adminControls === true){
			%><h1>Welcome <%= adminMessage%></h1><%
		}
	%>

	
	<table class="table table-striped table-bordered table-hover">
		<thead>
			<tr>
				<th>Email</th>
				<th>Display Name</th>
				<th>Cat Walker</th>
				<%if(adminControls === true) { %>
					<th>Admin Controls</th>
				<%}%>
			</tr>
		</thead>
		<tbody>
			<% users.forEach(function(user){%>
			    
				<tr onclick="window.document.location='/users/<%= user._id%>'">
					<td><a href="/users/<%= user._id%>"><%= user.local.email%></a></td>
                    <td><%= user.isCatWalker%></td>
					<td><%= user.displayName%></td>
					<%if(adminControls === true){%>
						<td>
							<%if(user.accountType !== "superAdmin"){%>
							<a href="/users/admin/edit/<%=user._id%>" class="btn btn-default">Edit</a>
							<a href="/users/delete/<%=user._id%>" class="btn btn-default">Delete</a>
							<%}%>
							<%if(superAdminControls === true && user.accountType !== "superAdmin"){%>
								<%if(user.accountType === "user"){%>
									<a href="/users/make-admin/<%=user._id%>" class="btn btn-default">Make Admin</a>
								<%} if(user.accountType === "admin"){%>
									<a href="/users/remove-admin/<%=user._id%>" class="btn btn-default">Remove Admin</a>
								<%}%>
							<%}%>
						</td>
					<%}%>
				</tr>
			
			<%});%>
		</tbody>
	</table>
</div>
</body>
</html>
