<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
	<% include partials/head %>
</head>
<body>
<div class="container">
	<header>
		<% include partials/header %>
	</header>
	<%
	if(typeof viewUser !=="undefined"){
		if(user !== viewUser){
			if(user.accountType === "superAdmin")
				var superAdminControls = true;
			if(user.accountType === "admin")
				var adminControls = true;
		}
		user = viewUser;
	}%>

	<div class="page-header text-center">
		<h1><%= user.displayName%></h1>
	</div>

	<div class="row">
	
		<!-- LOCAL INFORMATION -->
		<div class="row col-md-2 col-md-offset-1">
		<img src="<%= user.picture%>" class="img-responsive" style="max-height:200px;">
		</div>
		<div class="row col-md-4 col-md-offset-1">
			<span></span>
			<div class="row col-md-4 col-md-offset-2">
				<h3><span class="fa fa-user"></span> </h3>
				<p>
					<strong>Email</strong>: <%= user.local.email %><br>
					<strong>Description</strong>: <%= user.description %><br>
					<strong>Phone #:</strong> <%= user.phone %><br>
					
						<strong>Rating:</strong>
						<% if(user.rating != 0) {%>
							<%= user.rating %>
						<%} else {%>
							unrated
						<%}%>/5 stars<br>
						<strong>Rate:</strong>
						<a href="/users/rate/<%= viewUser._id%>/1">1</a> 
						<a href="/users/rate/<%= viewUser._id%>/2">2</a> 
						<a href="/users/rate/<%= viewUser._id%>/3">3</a> 
						<a href="/users/rate/<%= viewUser._id%>/4">4</a> 
						<a href="/users/rate/<%= viewUser._id%>/5">5</a><br>
				</p>
			</div>
		</div>

	</div>
	
	<div class="page-header text-center">
		<% if (typeof user.displayName !=="undefined"){%>
			<h1><%= user.displayName%>'s cats</h1>
		<% } else {%>
			<h1>User's cats</h1>
		<%}%>
	</div>
	<div class="row">
		<% if (typeof cats !=="undefined") {
		cats.forEach(function(cat) {%>
			<div class="row col-md-2 col-md-offset-1">
				<img src="<%= cat.picture%>" class="img-responsive" style="max-height:200px;"><br>
				<strong><%= cat.name%></strong><br>
				Age: <%= cat.age%><br>
				Weight: <%= cat.weight%><br>
				Color: <%= cat.color%><br>
				Breed: <%= cat.breed%><br>
				<%
					if(typeof viewUser !=="undefined"){
						if(user == viewUser || superAdminControls || adminControls)%>
							<a href="/cats/edit/<%= cat._id%>">Edit cat</a>
				<%}%>
			</div>
		<%});
		}%>
	</div>
	
	<div class="row">
		<%
		if(typeof viewUser !=="undefined"){
			if(user == viewUser)%>
				<a href="/cats/new/<%= viewUser._id%>">New cat</a>
		<%}%>
	</div>

</div>
</body>
</html>
