<!DOCTYPE html>
<html>
<head>
	<% include partials/head %>
</head>
<body>
<div class="container">
	<header>
		<% include partials/header %>
	</header>
	<%
	if(typeof viewUser !=="undefined"){
		if(user !== viewUser){
			if(user.accountType === "superAdmin")
				var superAdminControls = true;
			if(user.accountType === "admin")
				var adminControls = true;
		}
	}%>

	<div class="page-header text-center">
		<h1><%= viewUser.displayName%></h1>
	</div>

	<div class="row">
	
		<!-- LOCAL INFORMATION -->
		<div class="row col-md-2 col-md-offset-1">
		<img src="<%= viewUser.picture%>" class="img-responsive" style="max-height:200px;">
		</div>
		<div class="row col-md-4 col-md-offset-1">
			<span></span>
			<div class="row col-md-6 col-md-offset-1">
				<h3><span class="fa fa-user"></span> </h3>
				<p>
					<strong>Email</strong>: <%= viewUser.local.email %><br>
					<strong>Description</strong>: <%= viewUser.description %><br>
					<strong>Phone #:</strong> <%= viewUser.phone %><br>
					<%
					if(viewUser.isCatWalker) {%>
						<strong>Rating:</strong>
						<% if(viewUser.rating != 0) {%>
							<%= viewUser.rating%>
						<%} else {%>
							unrated
						<%}%>/ 5 stars<br>
						<strong>Rate:</strong>
						<a href="/users/rate/<%= viewUser._id%>/1">1</a> 
						<a href="/users/rate/<%= viewUser._id%>/2">2</a> 
						<a href="/users/rate/<%= viewUser._id%>/3">3</a> 
						<a href="/users/rate/<%= viewUser._id%>/4">4</a> 
						<a href="/users/rate/<%= viewUser._id%>/5">5</a><br>
					<%}%>
				</p>
			</div>
		</div>

	</div>
	
	<div class="page-header text-center">
		<% if (typeof viewUser.displayName !=="undefined"){%>
			<h1><%= viewUser.displayName%>'s cats</h1>
		<% } else {%>
			<h1>User's cats</h1>
		<%}%>
	</div>
	<div class="row">
		<% if (typeof cats !=="undefined") {
		cats.forEach(function(cat) {%>
			<div class="row col-md-2 col-md-offset-1">
				<img src="<%= cat.picture%>" class="img-responsive" style="max-height:200px;"><br>
				<strong><%= cat.name%></strong><br>
				Age: <%= cat.age%><br>
				Weight: <%= cat.weight%><br>
				Color: <%= cat.color%><br>
				Breed: <%= cat.breed%><br>
				<%
					if(typeof viewUser !=="undefined"){
						if(user == viewUser || superAdminControls || adminControls)%>
							<a href="/cats/edit/<%= cat._id%>">Edit cat</a>
				<%}%>
			</div>
		<%});
		}%>
	</div>
	
	<div class="row">
		<%if(String(user._id) == String(viewUser._id)){%>
			<a href="/cats/new/<%= viewUser._id%>">New cat</a>
		<%}%>
	</div>

</div>
</body>
</html>
