<!DOCTYPE html>
<html>
<head>
	<% include partials/head %>
</head>
<body>
<div class="container">
	<header>
		<% include partials/header %>
	</header>
	<%
	if(typeof viewUser !=="undefined"){
		if(user !== viewUser){
			if(user.accountType === "superAdmin")
				var superAdminControls = true;
			if(user.accountType === "admin")
				var adminControls = true;
		}
	}%>
	<div style="float:right">
		<a href="/users/message/<%=viewUser._id%>">
			<span class="glyphicon glyphicon-envelope"></span>
			Message <%=viewUser.displayName%>
		</a>
	</div>
	<div class="page-header text-center">
		<h1><%= viewUser.displayName%></h1>
	</div>

	<div class="row">
	
		<!-- LOCAL INFORMATION -->
		<div class="row col-md-2 col-md-offset-1">
		<img src="<%= viewUser.picture%>" class="img-responsive" style="max-height:200px;">
		</div>
		<div class="row col-md-4 col-md-offset-1">
			<span></span>
			<div class="row col-md-6 col-md-offset-1">
				<h3><span class="fa fa-user"></span> </h3>
				<p>
					<strong>Email</strong>: <%= viewUser.local.email %><br>
					<strong>Description</strong>: <%= viewUser.description %><br>
					<strong>Phone #:</strong> <%= viewUser.phone %><br>
					<%
					if(viewUser.isCatWalker) {%>
						<strong>Rating:</strong>
						<% if(viewUser.rating != 0) {%>
							<%= viewUser.rating%>
						<%} else {%>
							unrated
						<%}%>/ 5 stars<br>
						<strong>Rate:</strong>
						<a href="/users/rate/<%= viewUser._id%>/1">1</a> 
						<a href="/users/rate/<%= viewUser._id%>/2">2</a> 
						<a href="/users/rate/<%= viewUser._id%>/3">3</a> 
						<a href="/users/rate/<%= viewUser._id%>/4">4</a> 
						<a href="/users/rate/<%= viewUser._id%>/5">5</a><br>
					<%}%>
				</p>
			</div>
		</div>

	</div>
	
	<div class="page-header text-center">
		<h1><%= viewUser.displayName%>'s cats</h1>
	</div>
	<div class="row">
		<% if (typeof cats !=="undefined") {
		cats.forEach(function(cat) {%>
			<div class="row col-md-2 col-md-offset-1">
				<img src="<%= cat.picture%>" class="img-responsive" style="max-height:200px;"><br>
				<strong><%if (cat.name != '') {%>
					<%=cat.name%>
				<%} else{%>
					Unnamed cat
				<%}%></strong><br>
				Age: <%= cat.age%><br>
				Weight: <%= cat.weight%><br>
				Color: <%= cat.color%><br>
				Breed: <%= cat.breed%><br>
				<%if (cat.needsWalker) {%>
					<strong>Needs Walker</strong><br>
				<%}%>
				<%if(String(user._id) == String(viewUser._id) || superAdminControls || adminControls)%>
					<a href="/cats/edit/<%= cat._id%>">Edit cat</a><br>
			</div>
		<%});
		}%>
	</div>
	
	<div class="row">
	    <%if(String(user._id) == String(viewUser._id)){%>
		<a href="/cats/new/<%= viewUser._id%>">New cat</a>
	    <%}%>
	</div>
	
	<div class="page-header">
	    <h3><span class="glyphicon glyphicon-comment"></span> Comments for <%= viewUser.displayName%></h3>
	</div>
	<div class="row">
		Leave a comment!
		<form class="form-horizontal" action="/users/comment/<%= viewUser._id %>" method="post">
		<textarea name="comment" rows="4" cols="100"></textarea>
		<button type="submit" class="btn btn-default btn-lg">Post Comment</button>
		</form>
	</div>

	<% for (i = comments.length - 1; i >= 0; i--) {%>
		<div class="row">
			By <a href="/users/<%=comments[i].sourceUserId%>"><%=comments[i].sourceUserName%></a>:<br>
			<div style="border: 2px solid grey; border-radius: 5px;">
				<%=comments[i].text%>
			</div>
			<br><br>
		</div>
	<%}%>

</div>
</body>
</html>
