<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
	<% include partials/head %>
</head>
<body>
<div class="container">
	<header>
		<% include partials/header %>
	</header>
	<%
	if(typeof viewUser !=="undefined"){
		if(user !== viewUser){
			if(user.local.accountType === "superAdmin")
				var superAdminControls = true;
			if(user.local.accountType === "admin")
				var adminControls = true;
		}
		user = viewUser;
	}%>

	<div class="page-header text-center">
		<h1><%= user.local.displayName%></h1>
	</div>

	<div class="row">
	
		<!-- LOCAL INFORMATION -->
		<div class="row col-md-2 col-md-offset-1">
		<img src="<%= user.local.picture%>" class="img-responsive" style="max-height:200px;">
		</div>
		<div class="row col-md-4 col-md-offset-1">
			<span></span>
			<div class="row col-md-4 col-md-offset-2">
				<h3><span class="fa fa-user"></span> </h3>
				<p>
					<strong>Email</strong>: <%= user.local.email %><br>
					<strong>Description</strong>: <%= user.local.description %><br>	
				</p>
			</div>
		</div>

	</div>
	
	<div class="page-header text-center">
		<h1><%= user.local.displayName%>'s cats</h1>
	</div>
	<div class="row">
		<% cats.forEach(function(cat) {%>
			<div class="row col-md-2 col-md-offset-1">
				<img src="<%= cat.picture%> class="img-responsive" style="max-height:200px;"><br>
				<strong><%= cat.name%></strong><br>
				Age: <%= cat.age%><br>
				Weight: <%= cat.weight%><br>
				Color: <%= cat.color%><br>
				Breed: <%= cat.breed%><br>
			</div>
			<%
			if(typeof viewUser !=="undefined"){
				if(user == viewUser || superAdminControls || adminControls)%>
					<a href="/cats/edit/<%= cat._id%>">Edit cat</a>
			<%}%>
		<%});%>
	</div>

</div>
</body>
</html>
